.top-left-brands,

.top-right-brands{
	display: inline-block;
	vertical-align: top;
}
.top-right-brands{
	margin-left: 200px;
}
.bottom-brands{
	position: relative;
}
.left-close,
.left-open{
	display: inline-block;
	vertical-align: top;
}
.brand,
.brand-open,
.brand-close{
	height: 160px;
	width: 120px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.brand-open{
	background: #fff;
}
.bottom-brands .brand{
	/*position: absolute;*/
	margin-top: 10px;
	margin-left: -1px;

}
.brand-open i{
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}
.brand-open.red-heart i{
background: url(red_tao.png);
}
.brand-open.black-spade i{
background: url(black_tao.png);

}
.brand-open.red-block i{
background: url(square.png);

}
.brand-open.black-plum i{
background: url(mei.png);

}
.brand-open .red-heart .txt,.brand-open .red-block{
color: red;
}
.brand-open .black-spade i{
background: url(black_tao.png);

}
.brand-open .red-block i{
background: url(square.png);

}
.brand-open .red-plum i{
background: url(mei.png);

}
.brand-close{
	background: url(close.png);
}

.ok-brands{
	height: 160px;
	width: 120px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
}
.bottom-wrap{
	margin-top: 150px;
}
.bottom-brands{
	width: 120px;
	display: inline-block;
	vertical-align: top;
}
.left-open{
	position: relative;

}
.left-close{
	height: 160px;
	width: 120px;
}
.left-open .brand-open{
	position: absolute;
	left: 0;
	top: 0;
}
.MovingBrand{
	position: absolute;
}